.body{
    margin: 0;
    scroll-behavior: smooth;
}

.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Josefin Sans", sans-serif;
}

.hero-container{
    background: linear-gradient(45deg, #5409DA, #4E71FF 80%);
    padding: 70px 20px 50px;
    flex-grow: 1;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 50px 20px;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.search-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #e4eaea;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
}

.search-field{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 250px;
}

.search-field p {
    display: flex;
    margin: 0px;
    padding-bottom: 10px;
    font-size: 1.1rem;
    font-family: "Josefin Sans", sans-serif;
    color: black;
    max-width: 250px;
}

.search-field input, .search-field select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 250px;
    color: #999999;
}

.search-field input::placeholder {
  color: #999999;
  opacity: 1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;  
  appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 30px 10px 10px;
  background-image: url("data:image/svg+xml,%3Csvg ...%3E"); /* tu flecha SVG */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.search-button {
    background-color: #5409DA;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    align-self: flex-end;  
}

.search-button a{
    color: white;
    text-decoration: none;
}

.categories-container {
    background-color: #e4eaea;
    flex-grow: 1;
}

.categories-container h2{
    color: black;
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
    padding: 30px;
}

.categories-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;    
    padding: 10px;
}

.category-card {
  flex: 1 1 150px;             
  max-width: 250px;            
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.category-card i{
    font-size: 2rem;
    color: #5409DA;
}

.category-card p{
    font-size: 1.2rem;
    padding: 20px 10px 0px;
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 768px) {
    .hero-container{
        padding: 40px 20px 50px;
    }

  .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: auto;
    width: 200px;
    padding: 30px;
  }

  .search-button {
    align-self: center;  
}

  .categories-grid {
    padding: 20px;
  }
}
